*{
    margin: 0;
    padding: 0;
}
/* welcome  */
.TheBody{
    background-image: url(../images/backgroundimageproject.png);
    background-size: cover;
    height: 100vh;
}
/* ! this is the header */
.pageHead{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.navigationBar{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.links{
    text-decoration: none;
    color: rgb(52, 72, 134);
}
.links:hover{
    color: orangered;
    
}
.doob{
    color: rgb(52, 72, 134);
}
.btn{
    color: red;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-size: large;
    border-style: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.span{
    border-bottom: 5px solid red;
}
/* ! this is the main */
/* !firstsection */
.FirstSection{
    margin-top: 260px;
    margin-left: 155px;
}
.Title{
    color: rgb(52, 72, 134);
    font-size: 70px;
}
.DivParagraphFisrt{
    margin-top: 20px;
}
.ParagraphFirstSection{
    color: gray;
    margin: 10px 0px 10px 0px;
}
.ButtonDiv{
    margin-top: 30px;
}
.ButtonMore{
    background-color: rgb(255, 57, 70);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 18px;
    width: 140px;
    cursor: pointer;
}
.LinkFirstSection{
    text-decoration: none;
    color: rgb(52, 72, 134);
    margin-left: 15px;
}
/* todo section 2 */
.SecondSectionDiv2{
    /* border: 1px solid black; */
    width: 250px;
    height: 280px;
padding: 40px;
border-radius: 5px;
margin-right: 60px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.TitleSecondsec{
    /* background-color: blue; */
    width: 420px;
}
.secondSectionBTN{
    padding: 10PX 30PX;
    background-color:  rgb(255, 57, 70);
    border-radius: 20px;
    border-style: hidden;
    color: white;
    margin-top:20px ;
    cursor: pointer;
}
.SecondSection{
    display: flex;
   justify-content: center;
   margin-top: 300px;

}
.icon{
    margin-bottom: 20px;
    color: rgb(49, 69, 132);
}
.secondSectionParagraph{
    color: rgb(49, 69, 132);
    font-size: 40px;
    padding-right: 130px;
}
.ParagraphThird{
    color: gray;
    font-size: 20px;
}
.secondSectionParagraph1{
    color: rgb(49, 69, 132);
    font-size: 25px;
margin-bottom: 20px;
} 
/* !ThirdSection */
.ThirdSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}
.ParagraphForm{
    color: rgb(255, 57, 70);
}
.FormTitle{
    color: rgb(52, 72, 134);
}
.InputsDiv{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.EmailInput{
    background-color: rgb(244, 250, 254);
    border: none;
    padding: 10px;
    width: 570px;
    
}
.EmailInput::placeholder {
  color: rgb(52, 72, 134);
}
.DivMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TextAreasecond{
    background-color: rgb(244, 250, 254);
    border: none;
    width: 1170px;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
}
.TextAreasecond::placeholder {
  color: rgb(52, 72, 134);
}
.ButtonSend{
    background-color: rgb(255, 57, 70);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 18px;
    width: 140px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* ! this the footer  */
.foot{
    background-color: rgb(49, 69, 132);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 50px;
}
.footerNavigationBar{
    display: flex;
    padding: 20px 0px;
    
}
.footPara{
    color: white;
}
.above{
    color:rgb(249, 57, 71);
    font-size: 50px;
    padding-top: 20px;
}
.linksFoot{
    text-decoration: none;
    color: white;
    padding: 20px;

}
.copy{
    color: white;
    font-size: small;
    padding: 20px 0px;
}
.footicon{
    color: rgb(252, 251, 254);
    padding: 0px 17px;
}